<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= description %> " />
    <link rel="stylesheet" href="<%= path %>/assets/css/style.css" />
    <script src="<%= path %>/assets/js/vendor/jquery.min.js"></script>
    <script src="<%= path %>/assets/js/index.js" defer></script>
    <title><%= title %></title>
  </head>

  <body>
    <header>ヘッダーです</header>
    <a href="/">ふりふりトップページ</a>
    <a href="/about">アバウト</a>
  </body>
</html>
